!!! 1.1
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => info(:site_lang), :lang => info(:site_lang)}
  %head
    %meta{:'http-equiv' => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "author", :content => info(:author)}
    %meta{:name => "description", :content => info(:description)}
    %meta{:name => "keywords", :content => info(:keywords)}
    %meta{:name => "generator", :content => "nanoc — http://nanoc.stoneship.org"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/icon.png"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css", :media => "screen,projection"}
    -# %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/print.css", :media => "print"}
      
    %title= "#{info :site_title} — #{@item[:title]}"
    
    = head_content
    
  %body
    #pagetop.hide
      %p Skip to: <a href="#menu" accesskey="2">Site menu</a> | <a href="#main" accesskey="3">Main content</a>
    
    #container
      #header
        %h1<
          %a{:href => "/index.html", :accesskey => "4"}= info :site_title
        #tagline<
          = info :site_slogan
        = clear
        #menu<
          %ul
            - menu_items.each do |i|
              %li= menu_link i
        -#langbar {langbar:}
        = clear
      
      #main.hyphenate
        = yield
        = clear
      = clear
    
    #pagebottom
      = render "_footer"
      %a.hide{:href => "#pagetop", :accesskey => "1"} Back to top
    
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/scripts/footnotes.js"}
    %script{:type => "text/javascript", :src => "/scripts/hyphenator.js"}
    :javascript
      $('#HyphenatorToggleBox').click(
        function() {
          Hyphenator.toggleHyphenation();
          if (Hyphenator.doHyphenation) {
            $('#HyphenatorToggleBox').text('hy-phe-na-ti-on');
          } else {
            $('#HyphenatorToggleBox').text('hyphenation');
          }
        });
      Hyphenator.config({
          persistentconfig : true,
          useCSS3hyphenation : true
      });
      Hyphenator.run();
    -# render "_mathjax"
    = render "slidesjs/_setup"
    -# %script{:type => "text/javascript", :src => "/scripts/konami.js"}
    -# = render "_konami"
    -# = render "_google_analytics"

